<header class="">
  <nav>
    <div class="nav-wrapper indigo">
      <a href="#" class="brand-logo">NWO Italia</a>
    </div>
  </nav>
</header>
<section class="container">
  <div class="row home-buttons">
    <div class="col s6 m4">
      {{#link-to 'chemtrails' class="btn waves-effect waves-light chemtrails"}}
        <i class="{{ unbound category-icon 'chemtrails' }} left"></i> Chemtrails
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'haarp' class="btn waves-effect waves-light haarp"}}
        <i class="{{ unbound category-icon 'haarp' }} left"></i> HAARP
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'seigniorage' class="btn waves-effect waves-light seigniorage"}}
        <i class="{{ unbound category-icon 'seigniorage' }} left"></i> Seignorage
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'vaccines' class="btn waves-effect waves-light vaccines"}}
        <i class="{{ unbound category-icon 'vaccines' }} left"></i> Vaccines
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'politics' class="btn waves-effect waves-light politics"}}
        <i class="{{ unbound category-icon 'politics' }} left"></i> Politics
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'mind-control' class="btn waves-effect waves-light mind-control"}}
        <i class="{{ unbound category-icon 'mind-control' }} left"></i> Mind Control
      {{/link-to}}
    </div>
  </div>

  <div class="row no-pad">
    <div class="col s12 m6">
      <h4>Chemtrails</h4>
    </div>
  </div>

  <div class="row no-pad">
    <div class="col s12 l6">
      <div class="row no-pad">
        <div class="col s8">
          <h5>Next sprayings</h5>
        </div>
        <div class="col s4 right-align">
          <a class="btn">More</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="collection card-like">
            {{#each flight in flights}}
            <li class="collection-item">
              <article class="flight-preview">
                <header>
                  <span class="time">
                    <i class="mdi-device-access-time"></i> {{ format-time flight.take_off }}
                  </span>
                  <span class="airports">
                    <i class="mdi-maps-flight"></i> {{ flight.origin.code }} → {{ flight.destination.code }}
                  </span>
                </header>
                <p>
                  Take off {{ time-from-now flight.take_off }}
                </p>
                <p>
                  {{#each compound in flight.compounds }}
                    {{ compound.name }}
                  {{/each}}
                </p>
              </article>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-pad">
    <div class="col s12">
      <div class="row no-pad">
        <div class="col s8">
          <h4>Directives</h4>
        </div>
        <div class="col s4 right-align">
          <a class="btn">More</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="collection card-like">
            {{#each directive in directives}}
            <li class="collection-item">
              <article class="row">
                <div class="col s2">
                  <i class="category {{ unbound directive.category }} {{ unbound category-icon directive.category }}"></i>
                </div>
                <div class="col s10">
                  <header class="row title">
                    <span class="col s9 title">{{ directive.title }}</span>
                    <small class="col s3 date right-align">{{ hour-or-date directive.date }}</small>
                  </header>
                  <div class="body-preview">{{ directive.body_preview }}</div>
                </div>
              </article>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
