          <article>
            <i class="list-icon circle {{ unbound category }} {{ unbound category-icon category }}"></i>
            <header>
              <span class="title">{{ title }}</span>
              <small class="date">{{ hour-or-date date }}</small>
            </header>
            <div class="body-preview">{{ body_preview }}</div>
          </article>